.container {
    width: 100%;
    position: relative;
}

.icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    /* gray-400 */
    z-index: 10;
    pointer-events: none;
}

.select {
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
    /* pl-10 */
    background-color: #f9fafb;
    /* gray-50 */
    border: 1px solid #f3f4f6;
    /* gray-100 */
    border-radius: 0.75rem;
    /* rounded-xl */
    font-size: 0.875rem;
    /* text-sm */
    font-weight: 700;
    /* font-bold */
    color: #374151;
    /* gray-700 */
    outline: none;
    appearance: none;
    cursor: pointer;
    transition: all 0.2s;
}

.select:focus {
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
    /* ring-blue-500/20 */
    border-color: #3b82f6;
    /* border-blue-500 */
}